:root {
    --color-text: #181818;
    --color-link: lightblue;
    --color-border: #666;
    --font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --icon-hand: url('/library/images/click-dark.svg');
}