.button {
    height: auto;
    display: flex;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    color: var(--color-text);
    padding: 10px 15px 10px 10px;
    background-color: var(--color-link);
}
.button:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 5px;
    background-image: var(--icon-hand);
}